
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="/categories/details?category=Food">Food</a></li>
    <li><a href="/categories/details?category=Tech">Tech</a></li>
    <li><a href="/categories/details?category=Sports">Sports</a></li>

</ul>